In [3]:
import pandas as pd
data=pd.read_csv(r"C:\Users\user\OneDrive - University of Prince Mugrin\سطح المكتب\Bootcamp2\data\raw\users.csv")
df=pd.DataFrame(data)
print(df)

     user_id country signup_date
0          1      AE  2025-01-01
1          2      QA  2025-01-01
2          3      AE  2025-01-01
3          4      AE  2025-01-02
4          5      KW  2025-01-02
..       ...     ...         ...
995      996      QA  2025-12-20
996      997      SA  2025-12-20
997      998      AE  2025-12-21
998      999      KW  2025-12-21
999     1000      SA  2025-12-22

[1000 rows x 3 columns]

In [ ]:
def enforce_schame(df: pd.DataFrame) -> pd.DataFrame: #there is relationship between columns schame is described here
    return df.assign(# modfiy DF
        order_id = df["order_id"].astype("string"),
        user_id = df["user_id"].astype("string"),
        amount = pd.to_numeric(df["amount"],errors="coerce").astype("Float64"),# errors(coerce) here will dell with value by make it "nan" without do any error stetmente 
        quantity=pd.to_numeric(df["quantity"],errors="coerce").astype("Int64"),



    )

In [12]:
enforce_schame(df)

  order_id user_id  amount  quantity            created_at  status
0    A0001       1    12.5         1  2025-12-01T10:05:00Z    Paid
1    A0002       2     8.0         2  2025-12-01T11:10:00Z    paid
2    A0003       3    <NA>         1  2025-12-02T09:00:00Z  Refund
3    A0004       1    25.0      <NA>  2025-12-03T14:30:00Z    PAID
4    A0005       4   100.0         1            not_a_date    paid

In [2]:
import pandas as pd
data=pd.read_csv(r"C:\Users\user\OneDrive - University of Prince Mugrin\سطح المكتب\Bootcamp2\data\raw\order.csv")
s=pd.DataFrame(data)

In [4]:
def assert_in_range(s, lo=None, hi=None, name="value") :
    x = s. dropna()
    if lo is not None:
        assert (x >= lo).all(), f"(name) below {lo}"
    if hi is not None:
        assert (x <= hi).all, f"({name} above {hi})"




def check_range(s, lo=None, hi=None, name="value"):
    # 1. Ignore empty cells so they don't break the math
    clean_s = s.dropna()
    
    # 2. Check the bottom limit
    if lo is not None and clean_s.min() < lo:
        print(f" Warning: {name} has values lower than {lo}")
        
    # 3. Check the top limit
    if hi is not None and clean_s.max() > hi:
        print(f" Warning: {name} has values higher than {hi}")


a=check_range(s)
print(a)

None

In [ ]:

#dict.fromkeys() 

a={"Paid" : "paid",
   "PAID" : "paid"
   ""
   ""
    
   
   
   
   
    }

TypeError: fromkeys expected at least 1 argument, got 0

In [7]:
import pandas as pd

# Load the file
df = pd.read_parquet(r'C:\Users\user\OneDrive - University of Prince Mugrin\سطح المكتب\Bootcamp2\data\processed\users.parquet')

# 1. See the first few rows
print(df.head())

# 2. See the columns and data types
print(df.info())

# 3. See statistical summary
print(df.describe())

  user_id country signup_date
0    0001      AE  2025-01-01
1    0002      QA  2025-01-01
2    0003      AE  2025-01-01
3    0004      AE  2025-01-02
4    0005      KW  2025-01-02
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      1000 non-null   string
 1   country      1000 non-null   object
 2   signup_date  1000 non-null   object
dtypes: object(2), string(1)
memory usage: 23.6+ KB
None
       user_id country signup_date
count     1000    1000        1000
unique    1000       4         356
top       0001      AE  2025-12-20
freq         1     258           3

In [62]:
import pandas as pd

# Load the file
df1 = pd.read_parquet(r"C:\Users\user\OneDrive - University of Prince Mugrin\سطح المكتب\Bootcamp2\data\processed\analytics_table.parquet")

# 1. See the first few rows
print(df1.head())
print(df1["country"])

  order_id user_id  amount  quantity                created_at    status  \
0    A4434    0021  479.46         6 2025-10-06 15:00:00+00:00  refunded
1    A0177    0677  124.64         4 2025-06-15 01:35:00+00:00  Refunded
2    A2972    0763    <NA>         4 2025-11-14 23:05:00+00:00  Refunded
3    A2288    0197  397.26         7 2025-10-16 20:04:00+00:00      Paid
4    A3985    0460  374.25         1 2025-01-16 03:21:00+00:00   Pending

  status_clean  amount__isna  quantity__isna        date    year    month  \
0       refund         False           False  2025-10-06  2025.0  2025-10
1       refund         False           False  2025-06-15  2025.0  2025-06
2       refund          True           False  2025-11-14  2025.0  2025-11
3         paid         False           False  2025-10-16  2025.0  2025-10
4      pending         False           False  2025-01-16  2025.0  2025-01

        dow  hour country signup_date  amount_winsor  amount__is_outlier
0    Monday  15.0      AE  2025-01-08         479.46               False
1    Sunday   1.0      AE  2025-08-29         124.64               False
2    Friday  23.0      SA  2025-09-28           <NA>                <NA>
3  Thursday  20.0      QA  2025-03-11         397.26               False
4  Thursday   3.0      AE  2025-06-13         374.25               False
0       AE
1       AE
2       SA
3       QA
4       AE
        ..
5245    AE
5246    AE
5247    QA
5248    SA
5249    AE
Name: country, Length: 5250, dtype: object

In [57]:
from __future__ import annotations

import numpy as np
import pandas as pd

def bootstrap_diff_means(
    a: pd.Series,
    b: pd.Series,
    *,
    n_boot: int = 2000,
    seed: int = 0,
) -> dict[str, float]:
    """Bootstrap CI for the difference in means (A - B).

    For rates, pass a 0/1 Series (e.g., `is_refund.astype(int)`).
    """
    rng = np.random.default_rng(seed) #Random number generator
    a = pd.to_numeric(a, errors="coerce").dropna().to_numpy()
    b = pd.to_numeric(b, errors="coerce").dropna().to_numpy()
    assert len(a) > 0 and len(b) > 0, "Empty group after cleaning"

    diffs = []
    for _ in range(n_boot):
        # Pick a random sample from the array `a` with replacement 
        # The sample size is the full list
        sa = rng.choice(a, size=len(a), replace=True) 
        sb = rng.choice(b, size=len(b), replace=True)
        diffs.append(sa.mean() - sb.mean())
    diffs = np.array(diffs)

    return {
        "diff_mean": float(a.mean() - b.mean()),
        "ci_low": float(np.quantile(diffs, 0.025)),
        "ci"
        "_high": float(np.quantile(diffs, 0.975)),
    }

In [60]:
d = df1.assign(is_refund=df1["status_clean"].eq("refund"))
a = d.loc[d["country"].eq("SA"), "is_refund"].astype(int)
b = d.loc[d["country"].eq("AE"), "is_refund"].astype(int)

print("n_SA:", len(a), "n_AE:", len(b))

n_SA: 1232 n_AE: 1348

In [61]:
res = bootstrap_diff_means(a, b, n_boot=2000, seed=0)
print(res)

{'diff_mean': 0.020393367759836578, 'ci_low': -0.017703415834906974, 'ci_high': 0.05933074251416237}