In [ ]:
import pandas as pd
data=pd.read_csv(r"C:\Users\user\OneDrive - University of Prince Mugrin\سطح المكتب\Bootcamp2\data\raw\order.csv")
df=pd.DataFrame(data)
print(df)

  order_id  user_id        amount  quantity            created_at  status
0    A0001        1         12.50       1.0  2025-12-01T10:05:00Z    Paid
1    A0002        2          8.00       2.0  2025-12-01T11:10:00Z    paid
2    A0003        3  not_a_number       1.0  2025-12-02T09:00:00Z  Refund
3    A0004        1         25.00       NaN  2025-12-03T14:30:00Z    PAID
4    A0005        4        100.00       1.0            not_a_date    paid

In [11]:
def enforce_schame(df: pd.DataFrame) -> pd.DataFrame: #there is relationship between columns schame is described here
    return df.assign(
        order_id = df["order_id"].astype("string"),
        user_id = df["user_id"].astype("string"),
        amount = pd.to_numeric(df["amount"],errors="coerce").astype("Float64"),
        quantity=pd.to_numeric(df["quantity"],errors="coerce").astype("Int64"),



    )

In [12]:
enforce_schame(df)

  order_id user_id  amount  quantity            created_at  status
0    A0001       1    12.5         1  2025-12-01T10:05:00Z    Paid
1    A0002       2     8.0         2  2025-12-01T11:10:00Z    paid
2    A0003       3    <NA>         1  2025-12-02T09:00:00Z  Refund
3    A0004       1    25.0      <NA>  2025-12-03T14:30:00Z    PAID
4    A0005       4   100.0         1            not_a_date    paid